@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Montserrat:wght@500&family=Sofia+Sans+Condensed&display=swap");

​​​​​​* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: auto;
  width: 50%;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #f4f4f4;
  margin-bottom: 20px;
}

.content-table {
  width: 100%;
  text-align: left;
  padding: 5px;
  border-collapse: collapse;
}

.table-row {
  color: #8b8b8b;
  font-size: 14px;
}

.table-inventory {
  color: rgb(48, 48, 48);
}

th,
td {
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

.icon {
  color: rgb(172, 172, 172);
  cursor: pointer;
}
li {
  list-style: none;
}

.inventory-name,
.inventory-document,
.inventory-price,
.inventory-due-date {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
}
